/*ШРИФТЫ*/

@font-face {
	font-family: 'Gilroy ExtraBold';

	src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
	url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
	font-family: 'Gilroy Light';

	src: url('../fonts/gilroylight.woff2') format('woff2'),
	url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans Light';

	src: url('../fonts/opensanslight.woff2') format('woff2'),
	url('../fonts/opensanslight.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans';

	src: url('../fonts/opensans.woff2') format('woff2'),
	url('../fonts/opensans.woff') format('woff');
}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}

	70% {
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}

	90% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes bounce {
	0% {
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}

	70% {
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}

	90% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@-webkit-keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
}

@keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
}


/*ГЛОБАЛЬНО*/

a {
	cursor: pointer;
	text-decoration: none;
}

a:visited,
a:link {
	color: rgb(0, 0, 0);
}

img {
	max-width: 100%;
	height: auto;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

/*--------------------------ГЛАВНАЯ СТРАНИЦА--------------------------*/

/*КНОПКИ ПРИ НАВЕДЕНИИ*/

.line-feature {
	font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
	font-size: 18px;

	position: relative;
	z-index: 1;

	display: inline-block;

	padding: 10px;

	text-align: center;
	vertical-align: top;
	letter-spacing: 3.6px;
	text-transform: uppercase;
}

.line-feature::before {
	position: absolute;
	z-index: -1;
	top: calc(50% - 4px);
	right: 0;
	bottom: calc(50% - 4px);
	left: 0;

	content: '';
	-webkit-transition: top .3s, bottom .3s ease;
	-o-transition: top .3s, bottom .3s ease;
	transition: top .3s, bottom .3s ease;

	background-color: rgba(240, 197, 46, 1);
}

.line-feature:hover::before {
	top: 0;
	bottom: 0;

	-webkit-transition: all .3s ease;

	-o-transition: all .3s ease;

	transition: all .3s ease;
}

.line-feature:active {
	color: rgba(0, 0, 0, .3);
}

/*ПОЛОСА*/

.band::before {
	position: absolute;

	width: 80px;
	height: 7px;

	content: '';

	background: rgba(0, 0, 0, 1);
}

.band.slider-description::before {
	width: 100px;
	margin-top: 1px;
	margin-left: 4px;

	background: rgba(255, 255, 255, 1);
}

.band.footer-socials::before {
	margin-top: 15px;

	background-color: rgba(240, 197, 46, 1);
}

/*ГОЛОВА*/

.main-header {

	position: relative;

	max-width: 1160px;
	height: 299px;
	margin: 0 auto;
	margin-top: 40px;

	background-color: rgba(247, 226, 150, 1);
}

.head {
	height: 186px;
}

.main-header .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.user-section {
	font-family: 'Open Sans Light', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;

	position: relative;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;

	margin: 0;
	margin-top: 34px;
	padding: 0;

	letter-spacing: .15px;

	-webkit-box-pack: justify;

	-ms-flex-pack: justify;

	justify-content: space-between;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}

/*ЛОГОТИП*/

.header-logo {
	position: absolute;

	margin-top: -19px;
}

.logo:hover {
	opacity: .6;
}

.logo:active {
	opacity: .3;
}

/*ПОИСК*/

.user-search {
	font-size: 15px;
	line-height: 30px;

	position: relative;

	width: 340px;
	height: 49px;
	margin: 0;
	padding: 0;
	padding-left: 39px;

	letter-spacing: 0;

	opacity: .3;
	border: none;
	border-bottom: 2px solid transparent;
	outline: none;
	background-color: rgba(247, 226, 150, .5);
}

.user-search:hover {
	opacity: .6;
}

.user-search:focus,
.user-search:active {
	opacity: 1;
	border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.user-search:focus ~ .btn-search,
.user-search:active ~ .btn-search {
	visibility: visible;

	opacity: 1;
}

.user-section form {
	-ms-flex-preferred-size: calc(50% - 40px);
	flex-basis: calc(50% - 40px);
	/*width: 380px;
	margin-left: 20px;*/
	
}

.btn-search {
	font-size: 15px;
	line-height: 30px;

	position: absolute;

	visibility: hidden;

	width: 86px;
	height: 49px;
	margin-left: -10px;

	cursor: pointer;
	letter-spacing: -1px;

	border: 2px solid rgba(0, 0, 0, 1);
	outline: none;
	background: rgba(247, 226, 150, .5);
}

.btn-search:hover {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, 1);
}

.btn-search:active {
	visibility: visible;

	opacity: 1;
	color: rgba(255, 255, 255, .3);
}

/*ИКОНКИ*/

.search::after {
	position: absolute;
	top: 15px;
	left: 3px;

	width: 24px;
	height: 24px;

	content: '';

	background: url('../img/svg/search.svg') no-repeat 0 0;
}

.login,
.compare,
.cart,
.user,
.username {
	position: relative;

	padding-left: 20px;
}

.user {
	padding-left: 30px;
}

.logout {
	padding-right: 22px;
	padding-left: 15px;
}

.compare {
	padding-right: 30px;
}

.user-nav .login::before,
.user-nav .user::before {
	position: absolute;
	top: 4px;
	left: 0;

	width: 20px;
	height: 20px;

	content: '';

	background: url('../img/svg/user.svg') no-repeat 0 0;
}

.user-nav .compare::before {
	position: absolute;
	top: 7px;
	left: 0;

	width: 20px;
	height: 20px;

	content: '';

	background: url('../img/svg/compare.svg') no-repeat 0 0;
}

.user-nav .cart::before {
	position: absolute;
	top: 4px;
	left: 0;

	width: 20px;
	height: 20px;

	content: '';

	background: url('../img/svg/cart.svg') no-repeat 0 0;
}

.nav-catalog::after {
	position: absolute;
	top: 3px;
	right: -30px;

	width: 20px;
	height: 20px;

	content: '';

	opacity: .3;
	background: url('../img/svg/plus.svg') no-repeat 0 0;
}

.username svg {
	position: absolute;
	top: 4px;
	left: 0;

	color: #f7e296;
}

.login svg {
	position: absolute;
	top: 4px;
	right: 55px;
}

.compare svg {
	position: absolute;
	top: 4px;
	left: 0;
}

.liken svg {
	position: absolute;
	top: 4px;
	left: 25px;
}

.cart svg {
	position: absolute;
	top: 4px;
	left: 0;
}

/*НАВИГАЦИЯ*/

.main-header .container {
	margin: 0 40px;
}

.nav > a {
	text-transform: uppercase;
}

.user-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-pack: justify;

	-ms-flex-pack: justify;

	justify-content: space-between;
	-ms-flex-preferred-size: calc(50% - 20px);
	flex-basis: calc(50% - 20px);
}

.user-nav .compare {
	padding-right: 39px;
}

.user-nav-login .login {
	padding-left: 26px;
}

.user-nav a {
	font-family: 'Open Sans Light', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;

	letter-spacing: .15px;
}

.user-nav a:hover {
	opacity: .6;
}

.user-nav a:active {
	opacity: .3;
}

.user-nav-login .logout {
	opacity: .3;
}

.nav:hover .dropdown-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.nav-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	margin: 0;
	margin-top: 28px;
	padding: 0;

	-webkit-box-pack: justify;

	-ms-flex-pack: justify;

	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.navigation li {
	list-style: none;
}

.nav-catalog {
	position: relative;
}

.nav-menu > li:first-child {
	-ms-flex-preferred-size: calc(50% - 40px);
	flex-basis: calc(50% - 40px);
}

.nav-menu .nav-delivery {
	padding: 0;
	padding-left: 25px;
}

.nav-menu .nav-warranty {
	padding-right: 72px;
}

.nav-menu .nav-contacts {
	margin-right: -3px;
}

.nav-menu > li.nav {
	font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;

	letter-spacing: 3.6px;
}

.nav-catalog:hover {
	opacity: .6;
}

.nav-catalog:active {
	opacity: .3;
}

.nav-menu .current-page:hover {
	opacity: .6;
}

.nav-menu .current-page:active {
	opacity: .3;
}

/*ПОДМЕНЮ*/

.dropdown-menu {
	font-family: 'Open Sans Light', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 36px;

	position: absolute;
	z-index: 1;

	display: none;

	width: 100%;
	min-height: 165px;
	margin: 0;
	margin-left: -60px;
	padding: 0;
	padding-top: 25px;
	padding-left: 20px;

	letter-spacing: -1px;

	background-color: rgba(247, 226, 150, 1);
}

.dropdown-menu .sub-menu-item:hover {
	opacity: .6;
}

.dropdown-menu .sub-menu-item:active {
	opacity: .3;
}

/*ВЕРХНИЙ СЛАЙДЕР*/

.main-slider-section {
	max-width: 1440px;
	margin: 0 auto;
}

.main-slider-box {
	counter-reset: items;
}

.slider-item {
	z-index: 0;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;

	min-height: 502px;
	margin-top: -77px;
	margin-right: 40px;
	margin-left: 30px;

	counter-increment: items;

	-webkit-box-pack: justify;

	-ms-flex-pack: justify;

	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.slides {
	position: absolute;

	visibility: hidden;

	opacity: 0;
}

.monopod:checked ~ .slides[title='Монопод'] {
	position: relative;

	visibility: visible;

	opacity: 1;
}

.fitbracelet:checked ~ .slides[title='Фитнес-браслет'] {
	position: relative;

	visibility: visible;

	opacity: 1;
}

.quadrocopter:checked ~ .slides[title='Квадрокоптер'] {
	position: relative;

	visibility: visible;

	opacity: 1;
}

.slider-image {
	margin-top: -35px;
	margin-right: 5px;
	margin-left: -25px;

	text-align: center;

	-ms-flex-preferred-size: 49%;

	flex-basis: 49%;
}

.slider-item::before {
	font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
	font-size: 179px;
	line-height: 179px;

	position: absolute;
	z-index: -1;
	top: 0;
	right: -16px;

	margin-top: -50px;

	content: counter(items, decimal-leading-zero);
	letter-spacing: 0;

	color: rgba(255, 255, 255, 1);
}

/*СЧЕТЧИК*/

.slider-description {
	margin: 0;
	padding: 0;
	padding-left: 24px;

	-ms-flex-preferred-size: 50%;

	flex-basis: 50%;
}

.slider-description .lead {
	font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
	font-size: 47px;
	line-height: 56px;

	margin: 0;
	margin-top: 45px;
	margin-bottom: 20px;
	padding: 0;

	letter-spacing: .47px;
}

.item-description {
	font-family: 'Open Sans Light', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;

	margin: 0;
	padding: 0;
	padding-left: 4px;

	letter-spacing: .36px;
}

.hidden-radio {
/*	display: none;*/
}
	
.slider-item a {
	margin-left: 4px;
	padding: 12px 42px;
}

.slider-button {
	font-size: 0;

	position: absolute;
	top: 21px;
	right: 19px;
}

.pseudo-radio {
	position: relative;

	margin-left: 20px;
	padding: 6px;

	cursor: pointer;

	border: 1px solid rgba(0, 0, 0, 1);
	border-radius: 50%;
}

.slider-button .active::before {
	position: absolute;
	top: 4px;
	left: 4px;

	width: 2px;
	height: 2px;

	content: '';

	border: 1px solid rgba(0, 0, 0, 1);
	border-radius: 50%;
	background: rgba(255, 255, 255, 1);
}

.slider-wrapper {
	position: relative;

	margin-top: 41px;
	margin-bottom: 45px;
}

.product {
	font-family: 'Gilroy Light', 'Arial', sans-serif;
	font-size: 36px;
	line-height: 48px;
}

.description td {
	font-family: 'Open Sans Light', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 20px;

	padding-top: 6px;
	padding-right: 76px;

	letter-spacing: .13px;
}

/*АССОРТИМЕНТ*/

.popular-section {
	margin: 0 auto;
}

.popular-section .container {
	padding: 0;
}

.popular-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	margin-top: 55px;
	margin-bottom: 112px;

	-ms-flex-wrap: wrap;

	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.popular-item .monopod {
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.popular-item .description {
	font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;

	max-width: 160px;
	margin-top: 34px;
	margin-bottom: 70px;
	margin-left: 2px;

	letter-spacing: .18px;
}

.popular-img-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 160px;
	height: 160px;

	background-color: rgba(240, 197, 46, .5);

	-webkit-box-pack: center;

	-ms-flex-pack: center;

	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.popular-img-wrapper:hover {
	background-color: rgba(240, 197, 46, 1);
}

.popular-img-wrapper img:active {
	opacity: .5;
}

/*СЕРВИСЫ*/

.services-section {
	margin: 0 auto;

	background-color: rgba(229, 229, 229, 1);
}

.services-wrapper {
	position: relative;

	min-height: 288px;
	padding: 0;
}

.services-in-box {
	font-family: 'Open Sans Light', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;

	letter-spacing: .15px;
}

/*СЕРВИСЫ-КНОПКИ*/

.services-in-box {
	position: absolute;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	visibility: hidden;

	opacity: 0;

	-webkit-box-pack: justify;

	-ms-flex-pack: justify;

	justify-content: space-between;
}

.slider-point {
	font-size: 18px;
	line-height: 24px;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;

	min-width: 160px;
	margin-top: -32px;
	margin-left: 4px;
}

.slider-point .line-feature {
	margin: 13px 0;
	padding: 7px 0;

	cursor: pointer;
}

.slider-point {
	position: relative;
}

.line-feature.active::before {
	top: 0;
	bottom: 0;

	width: 280px;

	background: rgba(0, 0, 0, 1);
}

.line-feature.active {
	color: rgba(247, 225, 132, 1);
}

/*СЕРВИСЫ-ОПИСАНИЕ*/

.delivery:checked ~ .services[title='delivery'] {
	position: relative;

	visibility: visible;

	opacity: 1;
}

.warranty:checked ~ .services[title='warranty'] {
	position: relative;

	visibility: visible;

	opacity: 1;
}

.credit:checked ~ .services[title='credit'] {
	position: relative;

	visibility: visible;

	opacity: 1;
}

.slider-point::after {
	position: absolute;
	top: -67px;
	right: -122px;
	bottom: 0;

	width: 7px;
	min-height: 319px;

	content: '';

	background-color: rgba(0, 0, 0, 1);
}

.slider-services {
	max-width: 440px;
	margin: 0;
	margin-right: 320px;
	margin-left: 240px;
	padding: 0;
}

.services-section h3 {
	font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
	font-size: 47px;
	line-height: 48px;

	margin-top: -28px;
	margin-left: 2px;
	padding: 0;
}

.slider-services p {
	max-width: 450px;
	margin-top: -15px;
	padding: 0;
}

.services[title='delivery']::after {
	position: absolute;
	top: -16px;
	right: 60px;

	width: 140px;
	height: 180px;

	content: '';

	background: url('../img/svg/delivery.svg') no-repeat 0 0;
}

.services[title='warranty']::after {
	position: absolute;
	top: -16px;
	right: 60px;

	width: 180px;
	height: 200px;

	content: '';

	background: url('../img/svg/warranty.svg') no-repeat 0 0;
}

.services[title='credit']::after {
	position: absolute;
	top: -16px;
	right: 60px;

	width: 180px;
	height: 190px;

	content: '';

	background: url('../img/svg/credit.svg') no-repeat 0 0;
}

/*СПОНСОРЫ*/

.brands {
	max-width: 1440px;
	margin: 0 auto;
}

.brands .container {
	padding: 0;
}

.brands-logotypes {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	margin-top: 93px;
	margin-bottom: 89px;

	-webkit-box-pack: justify;

	-ms-flex-pack: justify;

	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.logotypes {
	position: relative;
}

.logotypes img:first-child {
	position: absolute;
	top: 0;

	visibility: hidden;

	opacity: 0;
}

.black-and-white {
	opacity: .2;
}

.logotypes:hover img:first-child {
	visibility: visible;

	cursor: pointer;

	opacity: 1;
}

/*О НАС*/

.info-contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	max-width: 1160px;
	margin: 0 auto;
	padding-bottom: 78px;

	-ms-flex-wrap: wrap;

	flex-wrap: wrap;
}

.info-section {
	position: relative;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;

	width: 495px;
	margin: 0;
	margin-right: 100px;
	margin-left: -20px;
	padding: 0;

	-webkit-box-flex: 1;

	-ms-flex-positive: 1;

	flex-grow: 1;
}

.info-section h2 {
	font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
	font-size: 47px;
	line-height: 48px;

	margin: 0;
	margin-top: 52px;
	margin-bottom: 44px;
	margin-left: -1px;
	padding: 0;

	letter-spacing: .47px;
}

.info-section p:not(:last-child),
.info-list {
	font-family: 'Open Sans Light', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;

	margin: 0;
	padding: 0;
}

.info p:nth-child(3) {
	padding-top: 28px;
}

.info-section .info-list {
	margin-top: 70px;
	margin-bottom: 49px;
	margin-left: 27px;

	list-style-type: circle;

	color: rgba(229, 229, 229, 1);
}

.info-list li {
	padding-bottom: 10px;
}

.info-item span {
	font-family: 'Open Sans Light', 'Arial', sans-serif;
	font-weight: 800;

	padding-left: 15px;

	color: rgba(0, 0, 0, 1);
}

.info-section .line-feature {
	margin-left: 20px;
	padding: 12px 23px;
}

/*КОНТАКТЫ*/

.contact-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;

	width: 560px;
	margin: 0;
	margin-left: -14px;
	padding: 0;

	-webkit-box-pack: justify;

	-ms-flex-pack: justify;

	justify-content: space-between;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.contact-section h2 {
	font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
	font-size: 47px;
	line-height: 48px;

	margin: 0;
	margin-top: 53px;
	margin-bottom: 43px;
	margin-left: -1px;
	padding: 0;
}

.contact-section p {
	font-family: 'Open Sans Light', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;

	margin: 0;
	padding: 0;
	padding-bottom: 38px;
}

.contact-section .map-btn {
	display: inline-block;

	width: 560px;
	height: 222px;

	vertical-align: top;
}

.contact-section .line-feature {
	margin-left: 20px;
	padding: 12px 41px;
}

.contact-section .modal-link::active {
	display: block;
}

/*ПОДВАЛ*/

.main-footer {
	margin: 0 auto;

	background-color: rgba(70, 70, 70, 1);
}

.main-footer .container {
	padding: 0;
}

.main-footer a {
	color: rgba(255, 255, 255, 1);
}

.main-footer li {
	font-family: 'Open Sans Light', 'Arial', sans-serif;

	list-style: none;
}

.footer-user {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	padding-top: 70px;
}

.footer-user-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	margin: 0;
	padding: 0;

	-ms-flex-wrap: wrap;

	flex-wrap: wrap;

	padding-left: 505px;
}

.footer-user-nav .footer-login {
	margin-left: 165px;
}

.footer-compare {
	padding-left: 25px;

}

.footer-user-nav .login-link,
.user-nav-link {
	font-size: 15px;
	line-height: 30px;

	margin-right: 0;
	margin-left: 10px;

	letter-spacing: .15px;
}

.footer-user-nav .username {
	color: rgba(255, 255, 255, 1);
	padding-left: 29px;
}

.login-link a.logout {
	color: rgba(255, 255, 255, .3);
	padding-right: 29px;
}

.footer-conditions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	margin-top: 16px;
}

.footer-address {
	font-family: 'Open Sans Light', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;

	margin-top: -4px;

	color: rgba(255, 255, 255, .7);

	-ms-flex-preferred-size: 25%;

	flex-basis: 25%;
}

.footer-phone {
	font-family: 'Open Sans Light', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;

	margin: 0;
	margin-top: -4px;
	margin-left: 45px;
	padding: 0;



	color: rgba(255, 255, 255, .7);
}

.login-link a,
.user-nav-link a {
	opacity: .7;
}

.login-link a:hover,
.user-nav-link a:hover {
	opacity: 1;
}

.login-link a:active,
.user-nav-link:active {
	opacity: .3;
}

.footer-site-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	margin-left: 80px;
	padding: 0;

	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
}

.footer-site-nav .footer-nav {
	font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;

	padding-right: 46px;

	letter-spacing: 2px;
	text-transform: uppercase;
}

.footer-site-nav a:hover {
	opacity: .6;
}

.footer-site-nav a:active {
	opacity: .3;
}

/*СОЦСЕТИ*/

.footer-socials {
	position: relative;
}

.socials-buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	margin: 0;
	margin-top: 45px;
	margin-left: 80px;
	padding-bottom: 60px;

	-webkit-box-pack: center;

	-ms-flex-pack: center;

	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.socials-buttons::before {
	display: block;

	width: 10px;
	height: 10px;
}

.social-icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 35px;
	height: 35px;
	margin-right: 70px;
	margin-left: -50px;
}

.social-btn-facebook {
	background: url(../img/svg/fb.svg) no-repeat 0 0;
}

.social-btn-instagram {
	background: url(../img/svg/instagram.svg) no-repeat 0 0;
}

.social-btn-twitter {
	background: url(../img/svg/twitter.svg) no-repeat 0 0;
}

a.social-icon {
	opacity: .3;
}

a.social-icon:hover {
	opacity: .6;
}

a.social-icon:active {
	opacity: .1;
}

.footer-copyright {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-pack: end;

	-ms-flex-pack: end;

	justify-content: flex-end;
}

.footer-copyright .logo-html::before {
	position: absolute;
	right: 0px;
	bottom: 60px;

	width: 27px;
	height: 34px;

	content: '';

	background: url('../img/svg/logo-html.svg') no-repeat 0 0;
}

.footer-copyright .logo-html:hover::before {
	opacity: .6;
}

.footer-copyright .logo-html:active::before {
	opacity: .3;
}

.footer-copyright .logo-html:focus::before {
	outline: 2px solid #6bbbe3;
	outline-offset: 2px;
	opacity: .6;
}
/*--------------------------МОДАЛЬНЫЕ ОКНА--------------------------*/

/*ФОРМА ОБРАТНОЙ СВЯЗИ*/

.modal {
	position: fixed;
	top: 50%;
	left: 50%;

	display: none;

	background-color: rgba(255, 255, 255, 1);
}

.feedback {
	z-index: 3;

	width: 960px;
	min-height: 553px;
	margin-top: -300px;
	margin-left: -480px;

	-webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, .5);

	box-shadow: 0 30px 50px rgba(0, 0, 0, .5);
}

.feedback-form {
	padding-top: 95px;
	padding-right: 100px;
	padding-left: 100px;
}

.feedback-form-group b {
	font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;

	display: block;
}

.feedback-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-pack: justify;

	-ms-flex-pack: justify;

	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.feedback-form input,
.form-group-text {
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 24px;

	-webkit-: border-box;

	-webkit-box-sizing: border-box;

	box-sizing: border-box;
	width: 100%;
	margin-top: 12px;
	padding-left: 19px;

	border: 3px solid transparent;
	outline: none;
	background-color: rgba(242, 242, 242, 1);
}

.feedback-form input:hover,
.form-group-text:hover {
	background-color: rgba(235, 235, 235, 1);
}

.feedback-form input:focus,
.form-group-text:focus {
	border: 3px solid rgba(247, 226, 150, .5);
	background-color: rgba(255, 255, 255, 1);
}

.form-group-fio,
.form-group-email {
	min-width: 360px;
	min-height: 60px;
	margin-bottom: 38px;
}

.form-group-text {
	min-width: 100%;
	min-height: 156px;
	padding-top: 18px;

	resize: none;
}

.feedback-form button[type='submit'] {
	margin-top: 45px;
	padding-right: 35px;
	padding-left: 35px;

	cursor: pointer;

	border: none;
	outline: none;
	background-color: rgba(255, 255, 255, 1);
}

.modal-show {
	display: block;

	-webkit-animation: bounce .6s;

	animation: bounce .6s;
}

.modal-error {
	-webkit-animation: shake .6s;
	animation: shake .6s;

	background-color: rgba(246, 218, 218, .5);
}

/*МОДАЛЬНЯ КАРТА*/

.map-popular {
	z-index: 1;

	width: 960px;
	height: 559px;
	margin-top: -300px;
	margin-left: -480px;

	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);

	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.map-popular p {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;

	margin: 0;
}

.map-popular iframe {
	position: relative;
	z-index: 2;

	border: none;
}

/*КНОПКА 'ЗАКРЫТЬ' МОДАЛЬНОЕ ОКНО*/

.feedback-modal-close,
.map-modal-close {
	position: absolute;
	z-index: 5;
	top: 22px;
	right: 22px;

	width: 55px;
	height: 55px;

	cursor: pointer;

	border: transparent;
	border-radius: 50%;
	background-color: rgba(247, 226, 150, 50);
	background-color: transparent;
}

.feedback-modal-close::before,
.map-modal-close::before {
	position: absolute;
	top: 0;
	left: 0;

	width: 55px;
	height: 55px;

	content: '';

	opacity: .5;
	border-radius: 50%;
	background: rgba(247, 226, 150, .2) url('../img/svg/modal-close.svg') no-repeat 0 0;
}

.feedback-modal-close:hover::before,
.map-modal-close:hover::before {
	opacity: 1;
}

.feedback-modal-close:active::before,
.map-modal-close:active::before {
	opacity: .3;
}

/*--------------------------СТРАНИЦА КАТАЛОГ--------------------------*/

/*ХЛЕБНЫЕ-КРОШКИ*/

.catalog-nav-section .container {
	padding: 0;
}

.catalog-nav-section h2 {
	font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
	font-size: 47px;
	line-height: 56px;

	margin-top: 33px;
	margin-bottom: 20px;
	margin-left: 58px;

	letter-spacing: .47px;
}

.catalog-nav-section .breadcrumbs {
	font-family: 'Open Sans Light', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 24px;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;

	margin: 0;
	margin-left: 58px;
	margin-bottom: 3px;
	padding: 0;

	letter-spacing: .14px;

	-webkit-box-pack: start;

	-ms-flex-pack: start;

	justify-content: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.catalog-nav-section li {
	position: relative;

	margin-bottom: 43px;
	padding-right: 40px;

	list-style: none;
}

.catalog-nav-section a,
.breadcrumbs > li:last-child {
	opacity: .3;
}

.breadcrumbs a:hover {
	opacity: .6;
}

.breadcrumbs a:active {
	opacity: .1;
}

.catalog-nav-section {
	position: relative;
}

.catalog-nav-section li::after {
	position: absolute;

	padding-left: 17px;

	content: url(../img/svg/nav-arrow.svg);
}

.catalog-nav-section li:last-child::after {
	display: none;
}

/*ФИЛЬТРЫ*/

.main-filter-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.filter-form-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	height: 70px;

	background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgb(219, 219, 219)), color-stop(50%, rgb(235, 235, 235)));

	background: -webkit-linear-gradient(left, rgb(219, 219, 219) 50%, rgb(235, 235, 235) 50%);

	background: -o-linear-gradient(left, rgb(219, 219, 219) 50%, rgb(235, 235, 235) 50%);

	background: linear-gradient(to right, rgb(219, 219, 219) 50%, rgb(235, 235, 235) 50%);
}

.filter-form-holder {
	position: relative;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;

	width: 1160px;
	margin: 0;
	margin: 0 auto;
	padding: 0;

	-webkit-box-pack: justify;

	-ms-flex-pack: justify;

	justify-content: space-between;
}

.filter-form-caption {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 330px;
	margin-left: 0;
	padding-right: 0;
	padding-left: 60px;

	-webkit-box-align: center;

	-ms-flex-align: center;

	align-items: center;
}

.sort-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	margin-right: 0;
	padding-bottom: 4px;
	padding-left: 70px;

	background-color: rgb(235, 235, 235);

	-webkit-box-align: center;

	-ms-flex-align: center;

	align-items: center;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.filter-form-wrapper h2 {
	font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;

	margin: 0;
	padding: 0;
	padding-left: 3px;

	letter-spacing: 3.1px;
	text-transform: uppercase;
}

.sort-item-holder ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	padding: 0;
	padding-left: 55px;
}

.sort-item-list li {
	margin-right: 4px;
}

.sort-item-holder .sort-item {
	font-family: 'Open Sans Regular', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 18px;

	padding-right: 25px;

	list-style: none;
}

.sort-item > input[type='radio'] {
	display: none;
}

.sort-radio:checked + label {
	opacity: 1;
}

.sort-radio:not(:checked) + label {
	opacity: .2;
}

.sort-radio:not(:checked):hover + label {
	opacity: .6;
}

.sort-radio:not(:checked):active + label {
	opacity: 1;
}

.sort-btn-holder {
	position: absolute;
	top: 25px;
	right: -10px;
}

.sort-btn-holder > input[type='radio'] {
	display: none;
}

.arrow {
	font-size: 0;

	margin-right: 12px;
}

.arrow-up::before {
	content: url(../img/svg/icon-up-dir.svg);
}

.arrow-down::before {
	content: url(../img/svg/icon-down-dir.svg);
}

.sort-radio-arrow:checked + label {
	opacity: 1;
}

.sort-radio-arrow:not(:checked) + label {
	opacity: .2;
}

.sort-radio-arrow:not(:checked):hover + label {
	opacity: .6;
}

.sort-radio-arrow:not(:checked):active + label {
	opacity: 1;
}

/*КНОПКИ СОРТИРОКИ*/

.sort-catalog-holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	margin-bottom: 5px;

	background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgb(238, 238, 238)), color-stop(50%, rgb(255, 255, 255)));

	background: -webkit-linear-gradient(left, rgb(238, 238, 238) 50%, rgb(255, 255, 255) 50%);

	background: -o-linear-gradient(left, rgb(238, 238, 238) 50%, rgb(255, 255, 255) 50%);

	background: linear-gradient(to right, rgb(238, 238, 238) 50%, rgb(255, 255, 255) 50%);
}

.catalog-holder-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	max-width: 1160px;
	margin: 0 auto;
}

.catalog-holder-container .container {
	min-width: 330px;
	margin: 0;
	padding: 0;
	padding-left: 0;
}

.filter-form {
	padding-left: 60px;
	
}

.filter-form fieldset {
	position: relative;

	padding: 0;

	border: none;
}

.filter-lagend {
	font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;

	letter-spacing: .18px;

	height: 24px;
}

/*ФИЛЬТР СТОИМОСТИ*/

.filter-price {
	position: relative;

	margin: 0;
	margin-top: 79px;
	padding: 0;
}

.filter-price::after {
	position: absolute;
	top: -11px;
	left: 0;

	width: 201px;
	height: 2px;

	content: '';

	background-color: rgba(0, 0, 0, 1);
}

.filter-price .scale {
	position: relative;

	width: 201px;
	height: 2px;

	margin: 36px 0;
	margin-bottom: 80px;

	background: rgba(0, 0, 0, .3);
}

.filter-price-scale {
	font-family: 'Open Sans Light', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 24px;

	display: inline-block;

	margin-top: 10px;

	vertical-align: top;
	letter-spacing: 0;

	opacity: .2;
}

.filter-price .filter-price-min {
	padding-right: 64px;
}

.scale .range {
	width: 110px;
	height: 2px;

	background: rgba(145, 201, 47, 1);
}

.range-toggle {
	position: absolute;
	top: -10px;

	width: 20px;
	height: 20px;
	margin-left: 30px;

	cursor: pointer;

	border: 8px solid #fff;
	border-radius: 50%;

	background: #ababab;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
}

.range-toggle:active {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.range-toggle-min {
	left: -35px;
}

.range-toggle-max {
	left: 75px;
}

/*ФИЛЬТР ЦВЕТА*/

.filter-color-checkboxes, 
.filter-bluetooth-radio {
	padding: 0;
}

.filter-color {
	margin-bottom: 26px;
	margin-left: -2px;
}

.filter-color .filter-legend {
	padding-top: 2px;
	padding-bottom: 3px;
}

.filter-color::after {
	position: absolute;
	top: -11px;
	left: 0px;

	width: 201px;
	height: 2px;

	content: '';

	background-color: rgba(0, 0, 0, 1);
}

.filter-option {
	font-family: 'Open Sans Light', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 40px;

	position: relative;

	list-style: none;

	letter-spacing: .14px;
}
.filter-option-input + label {
	cursor: pointer;
	padding-left: 40px;
}

.filter-option-input:disabled + label {
	opacity: .25;
}

.filter-option-input:not(:disabled) + label:hover::before,
.filter-option:hover {
	opacity: .6;
}

.filter-option-input:not(:disabled) + label:active::before,
.filter-option:active {
	opacity: 1;
}

.filter-option-input:focus + label::before {
	outline: 4px solid #6bbbe3;
	outline-offset: 2px;
}

.filter-option-input + label::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 25px;
	height: 23px;

	background-image: url('../img/svg/checkbox-off.svg');
	background-repeat: no-repeat;
}

.filter-option-input:checked + label::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 25px;
	height: 23px;

	background-image: url('../img/svg/checkbox-on.svg');
	background-repeat: no-repeat;
}

/*ФИЛЬТР BLUETOOTH*/

.filter-bluetooth {
	margin-left: -1px;
}

.filter-bluetooth .end {
	padding-bottom: 4px;
}

.filter-bluetooth::after {
	position: absolute;
	top: -12px;
	left: -3px;

	width: 201px;
	height: 2px;

	content: '';

	background-color: rgba(0, 0, 0, 1);
}

.filter-option-radio:checked + label::before {
	content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 27px;
	
  background-image: url('../img/svg/radio-on.svg');
  background-repeat: no-repeat;
}

.filter-option-radio + label::before {
	content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 27px;
	
  background-image: url('../img/svg/radio-off.svg');
  background-repeat: no-repeat;
}

.filter-option-radio + label {
	padding-left: 40px;
	cursor: pointer;
}

.filter-option-radio:disabled + label {
	opacity: .25;
}

.filter-option-radio + label:hover::before {
	opacity: .6;
}

.filter-option-radio + label:active::before {
	opacity: 1;
}

.filter-option-radio:focus + label::before {
	outline: 3px solid #6bbbe3;
	outline-offset: 2px;
}

.filter-form button {
	font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
	font-size: 18px;

	margin-top: 18px;
	padding-right: 40px;
	padding-left: 40px;

	cursor: pointer;
	letter-spacing: 3.6px;

	border: none;
	background-color: transparent;
}

/*КАТАЛОГ*/

.catalog-holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	width: 100%;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.catalog-holder .item {
	margin-left: 0;
	
}

.item-holder {
	position: relative;

	margin: 0;
	margin-bottom: 18px;
	padding: 0;

	cursor: pointer;
}

.catalog-holder .item:last-child {
	margin-bottom: -6px;
}

.item{
		position: relative;
}

.new::after {
	font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;

	position: absolute;
	z-index: 1;
	top: 43px;
	right: 40px;

	content: 'NEW';
	
	color: rgba(214, 214, 214, 1);
}

.new::before {
	position: absolute;
	z-index: 1;
	top: 25px;
	right: 30px;

	width: 55px;
	height: 55px;

	content: '';

	border: 2px solid rgba(214, 214, 214, 1);
	border-radius: 50%;
}

/*КОРЗИНА-СРАВНЕНИЕ*/

.item-holder-active {
	position: absolute;
	top: 0;
	left: 0;

	visibility: hidden;

	width: 360px;
	height: 379px;

	opacity: 1;
}

.item-holder:hover .item-holder-active {
	visibility: visible;

	background-color: rgba(238, 238, 238, .7);
}

.in-garbage {
	top: 183px;

	margin-left: 80px;
	padding-right: 37px;
	padding-left: 37px;
}

.add-to-compare {
	font-family: 'Open Sans Light', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 36px;

	display: block;

	margin-top: 190px;
	margin-left: 89px;
	width: 180px;

	text-align: center;
	letter-spacing: .13px;

	opacity: .5;
}

a.add-to-compare:hover {
	opacity: 1;
}

a.add-to-compare:active {
	opacity: .2;
}

a.add-to-compare:focus{
	outline: 3px solid #6bbbe3;
	outline-offset: 1px;
}

/*ОПИСАНИЕ ТОВАРОВ*/

.description-holder .product-name {
	max-width: 270px;
}

.description-holder {
	font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;

	margin: 0;
	margin-top: 26px;
	margin-bottom: 50px;
	padding: 0;

	letter-spacing: .18px;

	-webkit-box-pack: justify;

	-ms-flex-pack: justify;

	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.description-holder .item-price {
	font-family: 'Gilroy Light', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;

	margin: 0;
	padding: 0;

	letter-spacing: .16px;
}

/*КНОПКИ СТРАНИЦ*/

.catalog-navigation-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;

	padding-top: 70px;
	padding-left: 70px;
	padding-bottom: 10px;

	background-color: #fff;

	max-width: 830px;
}

.catalog-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	margin-top: -11px;
	margin-bottom: 57px;
	margin-left: 0;

	width: 100%;

	background-color: rgba(235, 235, 235, .92);

	-webkit-box-pack: justify;

	-ms-flex-pack: justify;

	justify-content: space-between;
}

.catalog-navigation .control-prev {
	padding-left: 2px;
}

.catalog-navigation .control-next {
	padding-right: 2px;
}

.pagination-list {
	font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;

	margin: 0;
	padding: 0;
	padding-top: 24px;

	list-style: none;

	letter-spacing: 3.2px;

	-webkit-box-pack: justify;

	-ms-flex-pack: justify;

	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.pagination-item {
	padding-left: 27px;
}

.btn-control .button {
	font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;

	width: 126px;
	height: 70px;

	cursor: pointer;
	letter-spacing: 3.2px;
	text-transform: uppercase;

	border: none;
	outline: none;
	background-color: rgba(255, 255, 255, 0);
}
.btn-control .button:focus{	
	outline: 2px solid #6bbbe3;
	outline-offset: 1px;
}

.btn-control .catalog-control-back:hover,
.btn-control .catalog-control-next:hover {
	color: rgba(0, 0, 0, 1);
	background-color: rgba(217, 217, 217, 1);
}

.btn-control .catalog-control-back:active,
.btn-control .catalog-control-next:active {
	color: rgba(0, 0, 0, .3);
	background-color: rgba(217, 217, 217, 1);
}

.pagination-item a {
	color: rgba(195, 195, 195, .3);
}

.pagination-item a:hover {
	color: rgba(195, 195, 195, .6);
}

.pagination-item a:active {
	color: rgba(0, 0, 0, 1);
}

.pagination-item-current {
	color: rgba(0, 0, 0, 1);
}

.visually-hidden {
	position: absolute;

	overflow: hidden;
	clip: rect(0 0 0 0);

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	border: 0;
}